<section class="each-container">
    <h2>Staff Log in</h2>
    <form action="/sessions/staff" method="POST" class="form">
        <section class="form-row">
            <label for="">Email: </label>
            <input type="text" name="email">
            <br>
        </section>
        <section class="form-row">
            <label for="">Password: </label>
            <input type="password" name="password">
            <br>
        </section>

        <button>Staff Log in</button>
    </form>
</section>