<section class="each-container">
  <h1>Sign up</h1>
  <form action="/users" method="POST" class="form">
    <section class="form-row">
      <label for="">User Name:</label>
      <input type="text" name="user_name">
      <br>
    </section>
    <section class="form-row">
      <label for="">Email:</label>
      <input type="text" name="email">
      <br>
    </section>
    <section class="form-row">
      <label for="">Password:</label>
      <input type="password" name="password">
      <br>
    </section>
    <button>Sign up</button>
  </form>
</section>
