<section class="each-container">
    <h2>DATA MANAGEMENT</h2>  
    <form action="/furnitures/staff" method="POST" class="form">
        <section class="form-row">
            <label for=""> Item: </label>
            <input type="text" name="item">
            <br>
        </section>

        <section class="form-row">
            <label for="">Photo Url: </label>
            <input type="text" name="photo_url">
            <br>
        </section>

        <section class="form-row">
            <label for="">Quantity: </label>
            <input type="text" name="quantity">
            <br>
        </section>

        <section class="form-row">
            <label for="">Price: </label>
            <input type="text" name="price">
            <br>
        </section>
        
        <button>Data Entry</button>
    </form>

</section>